<h1>Amortization Table</h1>
<br>
<h3>Calculating the Payment Amount per Period</h3>
<%= image_tag 'Amortization-Formular.gif' %> <br>
<ul>
	<li>A = payment Amount per period</li>
	<li>P = initial Principal</li>
	<li>r = interest rate per period</li>
	<li>n = total number of payments</li>
</ul>

<p>Canadian Mortgage compounds semi-annually!!!</p>
<h3>Calculating the Rate Per Period</h3>
<%= image_tag 'cal_rate.gif' %>
<ul>
	<li>r = rate per payment period</li>
	<li>i = nominal annual interest rate</li>
	<li>n = number of compounding periods per year</li>
	<li>p = number of payment periods per year</li>
</ul>

<%= label_tag :loan_amount %>
<%= text_field_tag :loan_amount, 20000, 'ng-model'=>'loanAmount' %> <br>

<%= label_tag :annual_interest_rate %>
<%= text_field_tag :annual_interest_rate, 0.075, 'ng-model'=>'annualInterestRate' %> <br>
<p>Usually, the interest rate that you enter into an amortization calculator is the nominal annual rate. However, when creating an amortization schedule, it is the interest rate per period that you use in the calculations, labeled rate per period in the above spreadsheet.</p>

<%= label_tag :term_of_loan %>
<%= text_field_tag :term_of_loan, 3, 'ng-model'=>'termOfLoan' %> <br>

<%= label_tag :first_payment_date %>
<%= date_field_tag :first_payment_date, nil, 'ng-model'=>'firstPaymentDate' %> <br>

<%= label_tag :payment_frequency %>
<%= select_tag :payment_frequency, options_for_select([['Bi-weekly',24],['Monthly',12],['Quarterly', 4], ['Semi-annually',2], ['Annually',1]],12), 'ng-model'=>'paymentFrequency' %> <br>

<%= label_tag :compound_period %> 
<%= select_tag :compound_period, options_for_select([['Bi-weekly',24],['Monthly',12],['Quarterly', 4], ['Semi-annually',2], ['Annually',1]],12), 'ng-model'=>'compoundPeriod' %> <br>
<p>Basic amortization calculators usually assume that the payment frequency matches the compounding period. In that case, the rate per period is simply the nominal annual interest rate divided by the number of periods per year. When the compound period and payment period are different (as in Canadian mortgages), a more general formula is needed (see my amortization calculation article).</p>


<button ng-click="createTable()">Calculate</button>


<h1>Loan Summary</h1>
<p>Number of payments: {{getNumberOfPayments()}}</p>
<p>Rate (per period):{{getRatePerPeriod()|number:6}}</p>
<p>Payment: {{getPaymentPerPeriod()|currency:$:2}}</p>
<p>Total payment:{{totalPayment|currency:$:2}}</p>
<p>Total interest: {{totalInterest|currency:$:2}}</p>
<p>Last payment date: {{paymentDate| date: 'MM/dd/yyyy'}}</p>

<div id="pie" style="min-width: 300px; height: 320px; max-width: 500px"></div>

<h1>Amortization table</h1>
<table>
	<th>
		<tr>Sequence</tr>
		<tr>Due date</tr>
		<tr>Payment Amount</tr>
		<tr>Interest</tr>
		<tr>Principal</tr>
		<tr>Balance</tr>
	</th>
	<tbody>	
		<tr ng-repeat="amortizationRow in amortizationRows">
			<td>{{amortizationRow.index}}</td>
			<td>{{amortizationRow.date| date: 'MM/dd/yyyy'}}</td>
			<td>{{amortizationRow.payment|currency:$:2}}</td>
			<td>{{amortizationRow.interest|currency:$:2}}</td>
			<td>{{amortizationRow.principal|currency:$:2}}</td>
			<td>{{amortizationRow.balance|currency:$:2}}</td>
		</tr>
	</tbody>
</table>

<div id="container" style="width:100%; height:400px;"></div>



